PORT=3000

MONGODB_URI=mongodb://127.0.0.1:27017/data_base

PGUSER=postgres
PGHOST=localhost
PGPASSWORD=password
PGDATABASE=data_base
PGPORT=5432

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret

BCRYPT_SALT_ROUNDS=10
BCRYPT_PEPPER=pepper_secret

NODE_ENV=PRODUCTION
USE_HTTPS=true

USE_REFRESH_COOKIE=true

DB_RESET_KEY=your_db_reset_key
DB_INIT_KEY=your_db_init_key
#d82ac0481ab2b5e8505b1c65b18f2793e5176ae03c5248b9dace392bfbbe160c